Repository SpaceTesla/Payzee, changes with the labels that .github/labeler.yaml gives for each.
All labels: 🚀 Core App, 🔐 Auth System, 👤 Citizen API, 💼 Vendor API, 🏛️ Government API, 💰 Transaction System, 💬 Chat System, ⚙️ Project Configuration, 🐳 Docker, 🔧 CI/CD Pipeline, 📋 GitHub Config, 📦 Dependencies, 🧩 Middleware, 🛠️ Utilities, 🗄️ Redis Database, 🧪 Tests, 🪛 Development Tools, 📊 Monitoring & Metrics, 📐 Templates, 📚 Documentation

fix: change grafana id
  .github/workflows/deploy.yaml
  monitoring/__init__.py
  monitoring/grafana/api.json
  monitoring/grafana/api_dashboard.json
Labels: 🔧 CI/CD Pipeline, 📊 Monitoring & Metrics

chore: update deps
  poetry.lock
Labels: 📦 Dependencies

fix(ci): auto load datasources + dashboards For Grafana dashboards
  docker-compose.yaml
  monitoring/alertmanager/config.yaml
  monitoring/grafana/api.json
  monitoring/grafana/dashboards.yaml
  monitoring/grafana/datasources.yaml
  monitoring/prometheus/alerts.yaml
  monitoring/prometheus/config.yaml
Labels: 🐳 Docker, 📊 Monitoring & Metrics

fix(tests): mock_redis fixture to include redis_operations patching
  tests/conftest.py
  tests/test_db.py
Labels: 🧪 Tests

fix: update refresh rate to 30s
  monitoring/grafana/api.json
  monitoring/grafana/datasources.yaml
Labels: 📊 Monitoring & Metrics

feat: add alertmanager service
  docker-compose.yaml
  monitoring/alertmanager/config.yaml
  monitoring/prometheus/alerts.yaml
  monitoring/prometheus/config.yaml
Labels: 🐳 Docker, 📊 Monitoring & Metrics

fix: switch base image from slim to alpine for builder and runner stages
  docker/prod.Dockerfile
Labels: 🐳 Docker

fix: remove redundant env paths
  docker-compose.yaml
  docker/prod.Dockerfile
  monitoring/prometheus/alerts.yaml
Labels: 🐳 Docker, 📊 Monitoring & Metrics

.github/labeler.yaml:

'🚀 Core App':
  - changed-files:
      - any-glob-to-any-file: 'app.py'

'🔐 Auth System':
  - changed-files:
      - any-glob-to-any-file: 'routes/auth.py'
      - any-glob-to-any-file: 'models/api.py'

'👤 Citizen API':
  - changed-files:
      - any-glob-to-any-file: 'routes/citizen.py'
      - any-glob-to-any-file: 'models/citizen.py'

'💼 Vendor API':
  - changed-files:
      - any-glob-to-any-file: 'routes/vendor.py'
      - any-glob-to-any-file: 'models/vendor.py'

'🏛️ Government API':
  - changed-files:
      - any-glob-to-any-file: 'routes/government.py'
      - any-glob-to-any-file: 'models/government.py'

'💰 Transaction System':
  - changed-files:
      - any-glob-to-any-file: 'models/transaction.py'
      - any-glob-to-any-file: 'models/scheme.py'
      - any-glob-to-any-file: 'utils/db_ops.py'

'💬 Chat System':
  - changed-files:
      - any-glob-to-any-file: 'routes/chat.py'

'⚙️ Project Configuration':
  - changed-files:
      - any-glob-to-any-file: '.env'
      - any-glob-to-any-file: '.env.example'
      - any-glob-to-any-file: '.gitignore'
      - any-glob-to-any-file: '.gitattributes'

'🐳 Docker':
  - changed-files:
      - any-glob-to-any-file: '.devcontainer/**/*'
      - any-glob-to-any-file: '.dockerignore'
      - any-glob-to-any-file: 'docker/**/*'
      - any-glob-to-any-file: 'docker-compose.yaml'

'🔧 CI/CD Pipeline':
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'
      - any-glob-to-any-file: '.github/actions/**/*'

'📋 GitHub Config':
  - changed-files:
      - any-glob-to-any-file: '.github/CODEOWNERS'
      - any-glob-to-any-file: '.github/dependabot.yaml'
      - any-glob-to-any-file: '.github/ISSUE_TEMPLATE.md'
      - any-glob-to-any-file: '.github/labeler.yaml'
      - any-glob-to-any-file: '.github/PULL_REQUEST_TEMPLATE.md'

'📦 Dependencies':
  - changed-files:
      - any-glob-to-any-file: 'pyproject.toml'
      - any-glob-to-any-file: 'poetry.lock'

'🧩 Middleware':
  - changed-files:
      - any-glob-to-any-file: 'middleware/**/*'

'🛠️ Utilities':
  - changed-files:
      - any-glob-to-any-file: 'utils/**/*.py'

'🗄️ Redis Database':
  - changed-files:
      - any-glob-to-any-file: 'db/**/*'
      - any-glob-to-any-file: 'utils/db_helpers.py'

'🧪 Tests':
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'

'🪛 Development Tools':
  - changed-files:
      - any-glob-to-any-file: '.pre-commit-config.yaml'
      - any-glob-to-any-file: '.editorconfig'
      - any-glob-to-any-file: 'scripts/**/*'
      - any-glob-to-any-file: 'Makefile'

'📊 Monitoring & Metrics':
  - changed-files:
      - any-glob-to-any-file: 'monitoring/**/*'

'📐 Templates':
  - changed-files:
      - any-glob-to-any-file: 'templates/**/*'

'📚 Documentation':
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'
      - any-glob-to-any-file: 'README.md'
