Repository SpaceTesla/Payzee, changes with the labels that .github/labeler.yaml gives for each.
All labels: 🔧 GitHub Actions, 🌐 API, 🗄️ Database, 📊 Model, 🔗 Middleware, 🛠️ Utils, 🧪 Tests, 📝 Documentation, 🐳 Docker, ⚙️ Config

.github/labeler.yaml:

'🔧 GitHub Actions':
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

'🌐 API':
  - changed-files:
    - any-glob-to-any-file: 'routes/**/*'

'🗄️ Database':
  - changed-files:
    - any-glob-to-any-file: 'db/**/*'

'📊 Model':
  - changed-files:
    - any-glob-to-any-file: 'models/**/*'

'🔗 Middleware':
  - changed-files:
    - any-glob-to-any-file: 'middleware/**/*'

'🛠️ Utils':
  - changed-files:
    - any-glob-to-any-file: 'utils/**/*'

'🧪 Tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'📝 Documentation':
  - changed-files:
    - any-glob-to-any-file: 'docs/**/*'
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'README.md'

'🐳 Docker':
  - changed-files:
    - any-glob-to-any-file: 'docker/**/*'
    - any-glob-to-any-file: 'Dockerfile'
    - any-glob-to-any-file: 'docker-compose.yaml'
    - any-glob-to-any-file: '.dockerignore'

'⚙️ Config':
  - changed-files:
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '.env.example'
    - any-glob-to-any-file: '.pre-commit-config.yaml'
    - any-glob-to-any-file: '.editorconfig'

fix: change grafana id
  .github/workflows/deploy.yaml
  monitoring/__init__.py
  monitoring/grafana/api.json
  monitoring/grafana/api_dashboard.json
Labels: 🔧 GitHub Actions

chore: update deps
  poetry.lock
Labels: none

fix(ci): auto load datasources + dashboards For Grafana dashboards
  docker-compose.yaml
  monitoring/alertmanager/config.yaml
  monitoring/grafana/api.json
  monitoring/grafana/dashboards.yaml
  monitoring/grafana/datasources.yaml
  monitoring/prometheus/alerts.yaml
  monitoring/prometheus/config.yaml
Labels: 🐳 Docker, ⚙️ Config

fix(tests): mock_redis fixture to include redis_operations patching
  tests/conftest.py
  tests/test_db.py
Labels: 🧪 Tests

fix: update refresh rate to 30s
  monitoring/grafana/api.json
  monitoring/grafana/datasources.yaml
Labels: none

feat: add alertmanager service
  docker-compose.yaml
  monitoring/alertmanager/config.yaml
  monitoring/prometheus/alerts.yaml
  monitoring/prometheus/config.yaml
Labels: 🐳 Docker, ⚙️ Config

fix: switch base image from slim to alpine for builder and runner stages
  docker/prod.Dockerfile
Labels: 🐳 Docker

fix: remove redundant env paths
  docker-compose.yaml
  docker/prod.Dockerfile
  monitoring/prometheus/alerts.yaml
Labels: 🐳 Docker, ⚙️ Config
